@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

a {
  color: blue;
  cursor: pointer;
}

a:hover {
  text-decoration: underline;
}


h4 {
  font-size: 20px;
}

h5 {
  font-size: 30px;
}

li {
  list-style-type: square;
  margin-left: 15px;
  margin-bottom: 5px;
}