.navItemContainer {
	@apply flex flex-col items-center duration-300 cursor-pointer rounded-lg;
	@apply tablet:mt-2 mobile:mt-2

}

.navItemImage {
	@apply h-14 w-14 p-1 rounded-lg duration-300;
	@apply tablet:hover:bg-[#d7f9ff] tablet:h-12 tablet:w-12;
	@apply mobile:hover:bg-[#d7f9ff] mobile:h-12 mobile:w-12;
}

.navItemTextContainer {
	@apply mt-2 overflow-hidden flex items-center justify-center duration-300;
	@apply w-0 tablet:h-0 mobile:h-0;
}

.navItemName {
	@apply text-[#ffede1];
}

.selected {
	@apply rounded-lg bg-[#ffede1] hover:bg-[#ffede1];

}



.navItemContainer:hover img {
	filter: invert(8%) sepia(23%) saturate(4026%) hue-rotate(197deg) brightness(95%) contrast(95%);
}

.navItemContainer:hover .navItemName {
	color: #0e1c36;
}

.selected img {
	filter: invert(8%) sepia(23%) saturate(4026%) hue-rotate(197deg) brightness(95%) contrast(95%);
}

.selected .navItemName {
	color: #0e1c36;
}
